body{
    background: #000;
}
.stage{
    width: 500px;
    height: 500px;
    padding: 100px 50px;
    margin: 100px auto;
    -webkit-perspective: 400px;
    -moz-perspective: 400px;
    perspective: 400px;
    perspective-origin: 50% 200px;
}
.content{
    width: 200px;
    height: 200px;
    -webkit-transition: -webkit-transform 5s;
    -moz-transition: -moz-transform 5s;
    transition: transform 5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    animation: turn 5s linear infinite paused;
    -webkit-animation: turn 5s linear infinite paused;
}
.side{
    width: 200px;
    height: 200px;
    background-color: rgba(0,128,255,.2);
    border:1px solid #fff;
    position: absolute;
    bottom: 0;
    text-align: center;
    font: 800 80px/200px Arial;
    color: #fff;
}
div.side:nth-child(1){
    -webkit-transform:translateZ(100px);
    -moz-transform:translateZ(100px);
    -ms-transform:translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
}
div.side:nth-child(2){
    -webkit-transform: rotateY(90deg) translateZ(100px);
    -moz-transform: rotateY(90deg) translateZ(100px);
    -ms-transform: rotateY(90deg) translateZ(100px);
    -o-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
}
div.side:nth-child(3){
    -webkit-transform: rotateY(180deg) translateZ(100px);
    -moz-transform: rotateY(180deg) translateZ(100px);
    -ms-transform: rotateY(180deg) translateZ(100px);
    -o-transform: rotateY(180deg) translateZ(100px);
    transform: rotateY(180deg) translateZ(100px);
}
div.side:nth-child(4){
    -webkit-transform: rotateY(270deg) translateZ(100px);
    -moz-transform: rotateY(270deg) translateZ(100px);
    -ms-transform: rotateY(270deg) translateZ(100px);
    -o-transform: rotateY(270deg) translateZ(100px);
    transform: rotateY(270deg) translateZ(100px);
}
div.side:nth-child(5){
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    -ms-transform: rotateX(90deg) translateZ(100px);
    -o-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
}
div.side:nth-child(6){
    -webkit-transform: rotateX(270deg) translateZ(100px);
    -moz-transform: rotateX(270deg) translateZ(100px);
    -ms-transform: rotateX(270deg) translateZ(100px);
    -o-transform: rotateX(270deg) translateZ(100px);
    transform: rotateX(270deg) translateZ(100px);
}
div.content:hover{
    animation: turn 5s linear infinite running;
    -webkit-animation: turn 5s linear infinite running;
}
@keyframes turn {
    from{transform:rotateY(0deg); -webkit-transform:rotateY(0deg);}
    to{transform:rotateY(-360deg); -webkit-transform:rotateY(-360deg);}
}